<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="base/layout">
	<head>
	    <title>Home Page</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="author" content="Campanha"/>        
	</head>
	<body>
		<section layout:fragment="content">
			<div class="mdl-grid">   
				<div></div>    
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">    	
					<h4>&nbsp;Campanhas Projuris&nbsp;</h4>    	
				</section>	
				<div class="mdl-layout-spacer"></div>
			</div>
		</section>
	</body>
</html>