<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
	<head> 
	      	<link href = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" 
         rel = "stylesheet" />
               	<script type = "text/javascript" 
         src = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
         
         
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var message = /*[[${campanhaModel}]]*/ 'default';	
	/*]]>*/
	</script>
	      		
		<script type = "text/javascript">
			Ext.onReady(function() {
				var dialogWindow = new Ext.Window({
					id: 'novidades',
					width: 600,
					height: 400,
					modal: false,
					shadow: true,
					plain: true,
					icon: '',
					autoScroll: true,
					layout: 'fit',
					resizable: false,
					collapsible: true,
					animCollapse: false,
					constrainHeader: true,
					closable: true,
					animate: false,
					buttons: 
						[{xtype: "button", text: "Fechar", id: "btnFechar",
						handler  : function(){
							dialogWindow.hide();
	                	}},
						{xtype: "button", text: "Fechar e não mostrar novamente", id: "btnMostrarNovamente", 
	                	handler  : function(){
							dialogWindow.hide();
	            		}}],
					title: 'Novidades da versão',
					bodyBorder: true,			
				});
				
				var iframe = {
			                id:'iframeid',
			                tag:'iframe',
			                src:'',
			                width:'100%',
			                height:'100%',
			                frameborder:0
			            };
						
				dialogWindow.show();
				
				iframe.src = message[0].localizacao;
				Ext.DomHelper.insertFirst(dialogWindow.body, iframe);
			});
      	</script>        
	</head>
	<body>
	</body>
</html>