<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorator="@{~/base/layout}">
	<head> 
	      	<link href = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" 
         rel = "stylesheet" />
               	<script type = "text/javascript" 
         src = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>
         
         
	<script th:inline="javascript">
	/*<![CDATA[*/
	
	    var message = /*[[${campanhaModel}]]*/ 'default';	
		/*]]>*/
		</script>
		
		<script th:inline="javascript">
                /*<![CDATA[*/
			var url = /*[('"' + @{/campanhacliente/salvar/} + '"')]*/ '';
			//"@{'/users/doDelete/'${user.id}}"
	/*]]>*/
	</script>
	      		
		<script type = "text/javascript">
			Ext.onReady(function() {
				var dialogWindow = new Ext.Window({
					id: 'novidades',
					width: 600,
					height: 400,
					modal: false,
					shadow: true,
					plain: true,
					icon: '',
					autoScroll: true,
					layout: 'fit',
					resizable: false,
					collapsible: true,
					animCollapse: false,
					constrainHeader: true,
					closable: true,
					animate: false,
					buttons: 
						[{xtype: "button", text: "Fechar", id: "btnFechar",
						handler  : function(){
							dialogWindow.hide();
	                	}},
						{xtype: "button", text: "Fechar e não mostrar novamente", id: "btnMostrarNovamente", 
	                	handler  : function(){
	                		post_to();
							dialogWindow.hide();
	            		}}],
					title: 'Novidades da versão',
					bodyBorder: true,			
				});
				
				var iframe = {
			                id:'iframeid',
			                tag:'iframe',
			                src:'',
			                width:'100%',
			                height:'100%',
			                frameborder:0
			            };
						
				dialogWindow.show();
				
				iframe.src = message.localizacao;
				Ext.DomHelper.insertFirst(dialogWindow.body, iframe);
			});
			
			function post_to() {
				
			    var form = document.createElement('form');
			    var campanha = document.createElement("input");
			    campanha.name="idCampanha";
			    campanha.value = 0;
			    campanha.type = 'hidden';
			    form.appendChild(campanha);
			    
			    var siglaCliente = document.createElement("input");
			    siglaCliente.name="siglaCliente";
			    siglaCliente.value = "0";
			    siglaCliente.type = 'hidden';			    
			    form.appendChild(siglaCliente);			    
			    
			    document.body.appendChild(form);
			    form.action = url;
			    form.method = 'POST';
			    
			    form.submit();				
			}
      	</script>        
	</head>
	<body>
	</body>
</html>