<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	  layout:decorate="base/layout">
	<head>
      	<link href = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/classic/theme-classic/resources/theme-classic-all.css" 
         rel = "stylesheet" />
      	<script type = "text/javascript" 
         src = "https://cdnjs.cloudflare.com/ajax/libs/extjs/6.0.0/ext-all.js"></script>	

		<script type = "text/javascript">
	
         Ext.onReady(function() {
            win = new Ext.Window ({
                loader: {
                    url: '/teste.html',
                    scripts:false,
                    discardUrl: true,
                    autoLoad: true,
                    },
            	id: 'novidades',
               	title:'Novidades da versão',
				modal: false,
				shadow: true,               	
				plain: true,
				icon: '',
				autoScroll: true,
				layout: 'fit',
				width: 600,
				height: 400,
				resizable: false,
				collapsible: true,
				animCollapse: false,
				constrainHeader: true,
				closable: true,
				animate: false,
				buttons: [{
					xtype: "button", text: "Fechar", id: "btnFechar",
					handler  : function(){
	                    win.hide();
	                }},{
					xtype: "button", text: "Fechar e não mostrar novamente", id: "btnMostrarNovamente",
					handler  : function(){
	                    win.hide();
	                }
				}],	
				bodyBorder: true,
               target : document.getElementById('janelaNovidade'),
            });
            win.show();
         });
      </script>
        
	</head>
	<body>
		<section layout:fragment="content">
			<div class="mdl-grid">   
				<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--4dp mdl-color--white">    	
					<div id = "janelaNovidade"></div>    
				</section>	
				<div class="mdl-layout-spacer"></div>
			</div>
		</section>
	</body>
</html>